<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성시간</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}" th:if="${board.isDelete() == false}" >
                <td th:text="${board.id}"></td>
                <td>
                    <a href="#" th:text="${board.subject}" th:href="@{/boards/{id} (id=${board.id}, category=${board.boardCategory.name()})}"></a>
                </td>
                <td th:text="${board.member.name}"></td>
                <td th:text="${board.createDate}"></td>
                <td th:if="${board.member.name == session.memberInfo.name}">
                    <a href="#" th:href="'javascript:cancel('+${board.id}+')'" class="btn btn-danger">삭제</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <a href="#" th:if="${session.memberInfo != null}" th:href="@{/boards/new (category=${param.category[0]})}" class="btn btn-primary" style="float:right">작성</a>
                </tr>
            </tfoot>
        </table>
        
        <a href="#" th:text="1" th:href="@{/boards (category=${param.category[0]}, page=${1})}"></a>
        <a href="#" th:text="2" th:href="@{/boards (category=${param.category[0]}, page=${2})}"></a>
        <a href="#" th:text="3" th:href="@{/boards (category=${param.category[0]}, page=${3})}"></a>
        <a href="#" th:text="4" th:href="@{/boards (category=${param.category[0]}, page=${4})}"></a>
        <a href="#" th:text="5" th:href="@{/boards (category=${param.category[0]}, page=${5})}"></a>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
<script>

    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/boards/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>