<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.subject}"></td>
                <td th:text="${board.member.name}"></td>
                <td th:text="${board.createDate}"></td>
                <td th:if="${session.memberInfo.memberAuthority== T(com.jpabook.jpashop.domain.member.MemberAuthority).ADMIN}">
                    <a href="#" th:if="${board.member.name == session.memberInfo.name}"
                       th:href="@{/members/{id}/delete (id=${member.id})}" class="btn btn-primary" role="button">삭제
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <a href="#" th:if="${session.memberInfo != null}" th:href="@{/boards/new}" class="btn btn-primary" role="button" style="float:right">작성</a>
                </tr>
            </tfoot>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->제
</body>
</html>