<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
    </script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron"> <h2>쇼핑 서비스</h2>
        <p th:if="${session.memberInfo.getMemberAuthority() == T(com.jpabook.jpashop.domain.MemberAuthority).ADMIN}" class="lead">관리자 메뉴</p>
        <p th:if="${session.memberInfo.getMemberAuthority() == T(com.jpabook.jpashop.domain.MemberAuthority).ADMIN}">
            <a class="btn btn-lg btn-info" href="/members/new">회원 추가</a>
            <a class="btn btn-lg btn-info" href="/members">회원 목록 조회</a>
        </p>
        <p th:if="${session.memberInfo.getMemberAuthority() == T(com.jpabook.jpashop.domain.MemberAuthority).ADMIN}">
        <a class="btn btn-lg btn-info" href="/orders">주문 내역 조회</a>
        <a class="btn btn-lg btn-info" href="/order">고객 주문 등록</a>
        </p>

        <p class="lead">주문 메뉴</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">주문 하기</a>
            <a class="btn btn-lg btn-info" href="/orders/me">내 주문 보기</a>
        </p>

        <p class="lead">상품 메뉴</p>
        <p>
            <a class="btn btn-lg btn-info" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-info" href="/items/me">내 상품 보기</a>
            <a class="btn btn-lg btn-info" href="/items">상품 목록</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
